build/
builds/
publishing.txt
managed_components/
**/Wallpapers/**
!**/Wallpapers/huge.png
.vscode/
sdkconfig.old
bin/
logs/
obj/
thumb*
production/
*backups/
*.FCBak
*.lck
venv/
__pycache__/
config/
wallpapers/
testing/
dist/
gif/